@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0a0a] text-gray-100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code, pre, textarea {
  font-family: 'Courier New', Courier, monospace;
}